Phase\ 1\ -\ Middle\ mile/data/
Phase\ 2\ -\ All\ miles\ sanity\ checks/data/
Phase\ 3\ -\ Separate\ miles\ +\ sanity\ checks/data
Phase\ 4\ -\ Modified\ Hybrid\ Search\/data
Numerical\ Experiments/data